@use 'styles/variables' as v
body
  margin: 0
  background: v.$bg
  font-family: 'Segoe UI'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.bold
  font-weight: 600
.light
  font-weight: 200

.ml-1
  margin-left: .24rem

.w-100
  width: 100%
  position: relative